h1{
  font-size:12px;
  font-family:sans-serif;
  color:white;
  margin-left:5%;
}

body > div {
  width:155px;
  height:155px;
  margin:20px 15px 0 0;
  background:#676470;
  transition:all 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.fade{
  opacity:0.5;
}
.fade:hover{
  opacity:1;
}

.fadeOut{
  opacity:1;
}
.fadeOut:hover{
  opacity:.7;
}

.color:hover{
  background:#53a7ea;
}

.grow:hover{
  transform:scale(1.25);
}

.shrink:hover{
  transform:scale(0.8);
}

.rotate:hover{
  transform:rotateZ(-30deg);
}

.circle:hover{
  border-radius:75%;
}

.threed:hover{
  box-shadow: 1px 1px #53a7ea;
  box-shadow:	2px 2px #53a7ea;
  box-shadow:	3px 3px #53a7ea;
  transform:translateX(-3px);
}

.boxinset:hover{
  box-shadow:inset 0 0 0 26px #53a7ea;
}

.box:hover{
  box-shadow:inset 0 26px #53a7ea;
}

.slide:hover{
  margin-left:25px;
}

.headertext{
  color:black;
  font-size: 14px;
  margin-top: 15px;
  color: white;
}
						
